body {
    background-color: #050505;
    min-height: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Arial" !important;
    font-weight: normal !important;
    color: white;
    font-size: 5.5em;
    text-shadow: 4px 4px #000;
    margin-left: 180px;
}

.menubutton {
  background: #FF6600;
  background-image: -webkit-linear-gradient(top, #FF6600, #2980b9);
  background-image: -moz-linear-gradient(top, #FF6600, #2980b9);
  background-image: -ms-linear-gradient(top, #FF6600, #2980b9);
  background-image: -o-linear-gradient(top, #FF6600, #2980b9);
  background-image: linear-gradient(to bottom, #FF6600, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 10px;
  font-family: "Arial" !important;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}

.menubutton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.menubutton:focus {
  outline:0 !important
}