.background-image {
  	background-image: url(../images/bg2.jpg);
  	background-size: cover;
  	display: block;
 	filter: blur(5px);
  	-webkit-filter: blur(3px);
  	height: 1050px;
  	left: 0;
  	position: fixed;
  	right: 0;
  	z-index: 1;
}

.img {
}

#container {
	width: 960px;
	margin: 0px auto;
}

#mid-container {
	
}
#mid-left {
	float: left;
	width: 300px;
	background: blue;
}
#canvasesdiv {
	float: left;
	background: orange;
	position:relative; width:512px; height:480px
}

@media screen and (max-width: 959px) {
	#container {
		width: 100%;
	}

	#mid-left {
		width: 30%;
	}

	img {
		width: 100%;
	}
}
